



@Html.Partial("_Header")

<section class="contact-form">
    <div class="container">
        Thank for contacting us!
        We will reach out to you soon.
    </div>
</section>

@Html.Partial("_Footer")